# Python 3.8 or greater required. Our rocky machines have 3.11 installed.
# Run this file with $ python3.11 -m pip install -r requirements.txt

pyyaml
tree-sitter

# Need tree-sitter-c 0.23.4, later versions are broken
tree-sitter-c == 0.23.4

ollama
